/*
Impulse Template
http://www.templatemo.com/tm-469-impulse
*/

body {
	background: #f8f8f8;
	color: #606060;
	font-family: 'Proxima', sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-align: center;
	vertical-align: middle;
}
@font-face {
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
	font-family: 'Proxima Bold';
	src: url(../fonts/ProximaNova-Bold.otf);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Proxima Bold";
	font-weight: bold;
}
p {
	letter-spacing: 1px;
	line-height: 28px;
}
hr {
	border-color: #e0e0e0;
	margin: 0 auto 20px auto;
	width: 100px !important;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
.title {
	padding-bottom: 40px;
}
.title h2 {
	color: #202020;
	line-height: 20px;
	padding-bottom: 30px;
}
.title p {
	padding-top: 14px;
	padding-bottom: 30px;
}
.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}
/* preloader section */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
	background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-rotating-plane.sk-spinner {
	width: 40px;
	height: 40px;
	background-color: #1C3879;
	border-radius: 50%;
	-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
	animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@keyframes sk-rotatePlane {
0% {
-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
transform: perspective(120px) rotateX(0deg) rotateY(0deg);
}
50% {
-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
}
100% {
-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}
/* home section */
#home {
	background: url('../images/home-bg1.jpg') 50% 0 repeat-y fixed;
	background-size: cover;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
#home h2 {
	cursor: default;
	color: #fff;
}

#home .btn {
	background: transparent;
	border-radius: 40px;
	border: 2px solid white;
	color: #ffffff;
	font-size: 18px;
	padding: 17px 20px 14px 20px;
	margin-top: 60px;
}
#home .btn:hover {
	background: #ffffff;
	color: rgba(0, 0, 0, .75);
	transition: all 0.4s ease-in-out;
}
/* navigation section */
.navbar-default {
	background: #fff;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
	margin: 0 !important;
}
.navbar-default .navbar-brand {
	margin: 0;
}
.navbar-default .navbar-brand img {
	opacity: .9;
	width: 30%;
	margin-top: -10px;
	padding-right: 20px;
	padding-left: 20px;
}
	.navbar-default .navbar-brand img:hover {
		opacity: 1 ease-in;
	}
.navbar-default .navbar-nav li a {
	line-height: 40px !important;
	font-weight: bold;
}
.navbar-default .navbar-nav li a:hover {
	color: #1C3879;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #606060;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1C3879;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #eb5424;
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
/* intro section */
#intro {
	padding-top: 180px;
	padding-bottom: 140px;
	cursor: default;
}
#intro h4 {
	padding-bottom: 16px;
}
#intro h2 {
	line-height: 45px;
}
#intro #visim {
	padding: 15px 30px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,.35);
	color: rgba(0,0,0,.55);
	transition: all .25s ease-out;
}
	#intro #visim:hover {
		border: 2px solid rgba(0,0,0,.5);
		color: rgba(0,0,0,.75);
	}
/* work section */
#work #whyus {
	padding: 15px 30px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,.35);
	color: rgba(0,0,0,.55);
	transition: all .25s ease-out;
}
	#work #whyus:hover {
		border: 2px solid rgba(0,0,0,.5);
		color: rgba(0,0,0,.75);
	}

#work {
	background-color: #ffffff;
}
#work .container {
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: default;
}
#work .title {
	padding: 100px 60px 60px 60px;
}
#work .bg-black {
	position: relative;
	background-color: #303030;
	color: #ffffff;
	cursor: pointer;
}
	#work .bg-black:hover::after,
	#work .bg-blue:hover::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: 10px solid white;
	}
#work .bg-blue {
	background-color: #1C3879;
	color: #ffffff;
	cursor: pointer;
}
#work h3 {
	padding-bottom: 60px;
}
#work .fa {
	color: #ffffff;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 40px;
}
/* team section */
#team {
	background: #202020 url('../images/product-bg1.jpg') 50% 0 repeat-y fixed;
	background-size: cover;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}
#team h2 {
	color: #ffffff;
	line-height: 40px;
}
#team h5 {
	color: white;
	line-height: 20px;
	font-weight: bold;
}
#team .team-des {
	background-color: #0078AA;
	color: #ffffff;
	padding: 20px 12px;
	position: relative;
}

#team .row .col-md-4 {
	margin-top: 50px;
}
#team img {
	max-width: 100%;
	height: auto;
}
/* portfolio section */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}
#portfolio h2 {
	line-height: 20px;
}
#portfolio h3 {
	color: #eb5424;
	padding-bottom: 60px;
}
#portfolio a {
	text-decoration: none;
}
#portfolio img {
	border-radius: 1px;
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	margin-bottom: 34px;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
	opacity: 0.9;
}
/* price section */
#price {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
}
#price h2 {
	line-height: 40px;
}
	
/* google map section
#map-canvas {
	border: none;
	width: 100%;
	height: 400px;
} */
/* contact section */
#contact {
	position: relative;
	background: #f6f6f6 url('../images/contact-bg1.jpg') 50% 0 repeat-y fixed;
	background-size: cover;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
}
#contact h2 {
	color: #ffffff;
}
#contact .form-control {
	border-radius: 4px;
	border: none;
	box-shadow: none;
	margin-bottom: 14px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background-color: #1C3879;
	color: #ffffff;
	height: 60px;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
	background-color: #1F4690;
}

#contact .api-wa {
	margin-top: -34px;
	margin-bottom: 15px;
	padding: 20px;
	background-color: transparent;
	transition: all 0.4s ease-in-out;
}

#contact .api-wa a {
	padding: 20px;	
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none;
	background-color: #075E54;
	border-radius: 4px;
}

/* footer section */
footer {
	background: #202020;
	color: #ffffff;
	border-bottom: 10px solid #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}
footer h3 {
	padding-top: 40px;
	padding-bottom: 20px;
}
footer p {
	line-height: 20px;
}
footer .copyright a {
	color: #eb5424;
}
.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.social-icon li {
	list-style: none;
	display: inline-block;
}
.social-icon li a {
	background: #f8f8f8;
	border-radius: 100%;
	color: #1C3879;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}
.social-icon li a:hover {
	background: #080808;
}

@media screen and (max-width:1180px) {
.navbar-default .navbar-brand img {
	position: absolute;
	top: 25px;
	left: 5vw;
	width: 130px;
	height: 40px;
}
@media screen and (max-width:980px) {
.navbar-default .navbar-nav li a {
	padding-right: 14px;
	padding-left: 14px;
	font-size: 13px;
}
#intro h2 {
	font-size: 32px;
}
#work .title {
	padding: 80px 20px 20px 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 24px;
}
}
@media (max-width:767px) {
.navbar-default .navbar-brand img {
	position: absolute;
	top: 16px;
	left: 5px;
	width: 130px;
	height: 40px;
}
}
@media (max-width:400px) {
#home h1 {
	font-size: 32px;
}
#home h2 {
	font-size: 22px;
}
#intro h2 {
	font-size: 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 60px;
}
}

